---
import PosterGallery from "../components/PosterGallery.jsx";
import "../styles/global.css";
import "@fontsource-variable/cormorant-garamond";
import artblock from "../assets/posters/artblock.png";
import blur from "../assets/posters/blur.png";
import consume from "../assets/posters/consume.png";
import bg from "../assets/bg1.jpeg";

const posters = [
	{ id: 1, title: "Poster 1", src: artblock },
	{ id: 2, title: "Poster 2", src: blur },
	{ id: 3, title: "Poster 3", src: consume },
	{ id: 3, title: "Poster 3", src: consume },
	{ id: 3, title: "Poster 3", src: consume },
	{ id: 3, title: "Poster 3", src: consume },
	{ id: 3, title: "Poster 3", src: consume },
];
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Poster Gallery</title>
	</head>

	<script>
		const observer = new IntersectionObserver(
			(entries) => {
				entries.forEach((entry) => {
					if (entry.isIntersecting) {
						entry.target.classList.add("visible");
					} else {
						entry.target.classList.remove("visible");
					}
				});
			},
			{
				threshold: 0.8, // 30% visible triggers
			},
		);

		document.querySelectorAll(".fade-section").forEach((el) => {
			observer.observe(el);
		});
	</script>

	<body class="bg-background text-gray-900 font-serif">
		<header
			class="relative min-h-screen sm:min-h-0 sm:py-50 sm:mt-40 flex flex-col justify-center items-center text-center bg-cover bg-center bg-no-repeat"
		>
			<div
				class="absolute inset-0 bg-cover bg-center bg-no-repeat scale-100 "
				style={`background-image: url(${bg.src});`}
			>
			</div>
			<div class="absolute inset-0 bg-black/50"></div>
			<div class="relative z-10 text-white fade-section">
				<h1 class="sm:text-7xl text-4xl">The Poster Gallery</h1>
				<p class="text-xs sm:text-lg">
					by <a target="_blank" href="https://github.com/saifeldeenadel"
						><b>@saifeldeenadel</b></a
					>
				</p>
			</div>
		</header>

		<PosterGallery posters={posters} client:load />

		<footer class="text-center py-6 text-gray-500">
			© 2026 Saif's Poster Gallery
		</footer>
	</body>
</html>
