---
import PosterGallery from "../components/PosterGallery.jsx";
import "../styles/global.css";
import "@fontsource-variable/cormorant-garamond";
import '@fontsource-variable/montserrat';
import bg from "../assets/bg1.jpeg";

const images = import.meta.glob("../assets/posters/*.png", {
	eager: true,
	import: "default",
});

const titles = [
	"Consume Less",
	"Art Block",
	"Blurry Year",
	"Create More",
	"Formula 1",
	"Missing Out",
	"Pain Makes Art",
	"Overthinking",
	"Jack of all trades",
	"Lost Hobbies",
	"Overdraft",
	"Experience Becoming",
	"Get out of Bed",
	"Dive",
    "Getting Easier",
    "GO BACK",
    "Good Will Hunting",
    "Good Grades",
    "Impostor Syndrome",
    "Making Mistakes",
    "The Moment ",
    "Oscar Piastri",
    "Outdoor Boys",
    "New Year's Resolution",
    "Run Away",
    "Shut UP",
    "Stop.",
    "Time is Running Out",
    "We Are So Back",
];

const posters = Object.entries(images).map(([path, src], index) => {
	// Extract filename
	const fileName = (path.split("/").pop() || "").replace(".png", "");

	return {
		id: index + 1,
		title: titles[index],
		src,
	};
});
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>The Poster Gallery</title>
	</head>

	<script>
		const observer = new IntersectionObserver(
			(entries) => {
				entries.forEach((entry) => {
					if (entry.isIntersecting) {
						entry.target.classList.add("visible");
					} else {
						entry.target.classList.remove("visible");
					}
				});
			},
			{
				threshold: 0.8, // 30% visible triggers
			},
		);

		document.querySelectorAll(".fade-section").forEach((el) => {
			observer.observe(el);
		});
	</script>

	<body class="bg-background text-gray-900 font-serif">
		<header
			class="relative min-h-dvh sm:min-h-0 sm:py-50 sm:mt-40 flex flex-col justify-center items-center text-center bg-cover bg-center bg-no-repeat"
		>
			<div
				class="absolute inset-0 bg-cover bg-center bg-no-repeat scale-100"
				style={`background-image: url(${bg.src});`}
			>
			</div>
			<div class="absolute inset-0 bg-black/50"></div>
			<div class="relative z-10 text-white fade-section">
				<h1 class="sm:text-7xl text-4xl">The Poster Gallery</h1>
				<p class="text-xs sm:text-lg">
					by <a target="_blank" href="https://saifdev.vercel.app"
						><b class="font-extrabold">@saifeldeenadel</b></a
					>
				</p>
			</div>
		</header>

		<PosterGallery posters={posters} client:load />

		<footer class="text-center py-6 text-gray-500 text-sm md:text-base">
			© 2026 Saif's Poster Gallery
		</footer>
	</body>
</html>
