---
import PosterGallery from "../components/PosterGallery.jsx";
import "../styles/global.css";
import "@fontsource-variable/cormorant-garamond";
import artblock from "../assets/posters/artblock.png";
import blur from "../assets/posters/blur.png";
import consume from "../assets/posters/consume.png";

const posters = [
	{ id: 1, title: "Poster 1", src: artblock },
	{ id: 2, title: "Poster 2", src: blur },
	{ id: 3, title: "Poster 3", src: consume },
];
---

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Poster Gallery</title>
	</head>
	<body class="bg-background text-gray-900 font-serif">
		<header class="text-center py-30 sm:py-50">
			<h1 class="md:text-7xl sm:text-5xl text-4xl">My Poster Gallery</h1>
		</header>

		<PosterGallery posters={posters} client:load />

		<footer class="text-center py-6 text-gray-500">
			© 2026 Saif's Poster Gallery
		</footer>
	</body>
</html>
